img {
    border-radius: 50%;
}
body{
  font-family: 'Kosugi Maru', sans-serif;
  background-color: #b56969;
  color:white;
  text-align:center;
               margin: 0 auto; 
  
            }
h1, h2{
            
            	color: #22264b;
            
            }